body
{
  background: linear-gradient(#D3D3D3, #FFDAB9);
}
.content
{
    font-size: 10px;
}
nav
{
  background-color: #BC8F8F;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
#pic
{
  float: left;
  width: 50px;
  height: 50px;
}

header
{
  display: flex;
  flex-direction: row;
  background-color: #C0C0C0;
  font-size: 80%;
}
footer
{
  background-color: #C0C0C0;
  text-align: center;
 
}
.form_and_table
{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: flex-start;
}
.form
{
    order: 1;
}
.table
{
  border-collapse: collapse;
  border: 2px solid #000000;
  order: 2;
}
th.t, td.t
{
  border: 1px solid #000000;
}
.chet
{
  background-color :#E6E6FA;
}
.nechet
{
  background-color: #FAEBD7;
}
@media screen and (min-width: 800px)
 {
  .content
  {
    font-size: 20px;
    background-color: #DCDCDC;
    background: rgba(205, 214, 219, 0.1);
  }
  #pic
  {
    float: left;
    width: 100px;
    height: 100px;
  }
  header
  {
    background-color: #C0C0C0;
    height: 120px;
    font-size: 150%;
  }
  footer
  {
    background-color: #C0C0C0;
    text-align: center;
    height: 30px; 
  }
  nav
  {
    font-size: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .table
  {
    max-width: 960px;
    justify-content:flex-start;
    order: 1;
  }
    .form
  {
      order: 2;
  }
}
